@keyframes banner1 {
    1% {
        top: -100px;
        left: 68.9%;
        border-radius: 100%;
        z-index: 0;
    }

    2% {
        top: -96px;
        left: 68.9%;
    }

    3% {
        top: -89px;
        left: 67.8%;
    }

    4% {
        top: -82px;
        left: 66.7%;
    }

    5% {
        top: -75px;
        left: 65.6%;
    }

    6% {
        top: -68px;
        left: 64.5%;
    }

    7% {
        top: -61px;
        left: 63.4%;
    }

    8% {
        top: -54px;
        left: 62.3%;
    }

    9% {
        top: -47px;
        left: 61.2%;
    }

    10% {
        top: -40px;
        left: 60.1%;
    }

    11% {
        top: -33px;
        left: 59%;
    }

    12% {
        top: -26px;
        left: 57.9%;
    }

    13% {
        top: -19px;
        left: 56.8%;
    }

    14% {
        top: -12px;
        left: 55.7%;
    }

    15% {
        top: -5px;
        left: 54.6%;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    16% {
        top: 2px;
        left: 54.7%;
    }

    22% {
        top: 44px;
        left: 59.1%;
    }

    /* 第二次轉折 */
    23% {
        top: 51px;
        left: 58%;
        width: 100px;
        height: 100px;
        z-index: 0;
    }

    24% {
        top: 58px;
        left: 56.9%;
    }

    25% {
        top: 65px;
        left: 55.8%;
        z-index: 0;
    }

    26% {
        top: 72px;
        left: 54.7%;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }

    27% {
        top: 79px;
        left: 53.6%;
    }

    28% {
        top: 86px;
        left: 52.5%;
    }

    29% {
        top: 93px;
        left: 51.4%;
    }

    30% {
        top: 100px;
        left: 50.3%;
    }

    44% {
        width: 220px;
        height: 130px;
    }

    45% {
        top: 100px;
        left: 25%;

        border-radius: 25%;
    }

    98% {
        top: 100px;
        left: -60.8%;
        width: 220px;
        height: 100px;
    }

    99% {
        top: 100px;
        left: -47.9%;

    }

    100% {
        top: 100px;
        left: -48%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        z-index: 0;
    }
}
.banner-right div:nth-child(1){
    animation-duration: 12s;
   }
.banner-right div:nth-child(2){
 animation-delay: 4s;
 animation-duration: 12s;
}
.banner-right div:nth-child(3){
animation-delay: 6s;
animation-duration: 12s;
}
.banner-right div:nth-child(4){
animation-delay: 10s;
animation-duration: 12s;
}
.banner-right div:nth-child(5) {
    display: none;
}
.banner-right div:nth-child(6){
    animation-duration: 12s;
}
@keyframes banner2{
    0%{
        top: 25%;
       left: 110%;;
        opacity: 0;
       overflow: hidden;
    }
    20%{
        opacity: 1;
        overflow: hidden;
    }
    40%{
        top:30%;
        width: 150px;
        height: 110px;
        border-radius: 20%;
    }
    60%{
        width: 170px;
        height: 120px;
        
    }
    100%{
        top: 30%;
        left: -30%;
        width: 170px;
        height: 120px;
        border-radius: 20%;
       
    }
}
@keyframes banner2-1{
    0%{
        opacity: 0;
       left: 100%;
       overflow: hidden;
       top: 0;
    }
    20%{
        opacity: 1;
        overflow: hidden;
    }
    30%{
        top:50%;
    }
    40%{
        width: 150px;
        height: 110;
        border-radius: 20%;
        
    }
    60%{
        width: 170px;
        height: 120px;
    }
    100%{
        top: 30%;
        left: -40%;
        width: 170px;
        height: 120px;
        border-radius: 20%;
       
    }
}
@keyframes banner2-2 {
    0% {
        z-index: 0;
        bottom: 5%;
        right: -10%;
        width: 100px;
        height: 100px;
    }

    20% {
        right: 10%;

    }

    50% {
        right: 45%;
        bottom: 20%;
    }

    75% {
        right: 80%;
        bottom: 10%;
        width: 100px;
        height: 100px;
    }

    100% {
        z-index: 0;
        right: 110%;
        bottom: 5%;
        width: 100px;
        height: 100px;
    }
}
